* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

 .home {
   align-items: center;
   display: flex;
   justify-content: space-around;
   margin: 150px auto;
   width: 80%;
 }

img {
  border-radius: 50%;
  width: 200px;
}
